@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Stack+Sans+Headline:wght@200..700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  color:#9d1f15;
  background-color: #F4A460 ;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.90em;
}
h1{
   color:#4B0082;
   background-color:#f66435;
   text-align: center;
   font-size: 1.20rem;
   padding: 2rem;
   margin: 0;
}
table{
  background-color:#f66435;
    border-radius: 0.70rem;
    color:blue;
    font-family: 'Montserrat', sans-serif;
    fonte-weight:900;
    width: 100%;
    max-width: 100%;
    border: 1px solid #f66435;
    border-radius: 10px;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
    table-layout: fixed;
    font-size: 0.70rem;
    margin:0;
}
th{
  background-color:#EFBB;
  color:#722f37;
  padding: 1rem;
  border: 1px solid #777;
  width: auto;
  margin: 0;
}
td{
  padding: 1rem;
  border: 1px solid #777;
  width: auto;
  margin: 0;
}
h4,h2,h3{
  margin: 1rem;
}
img,video{
  border:1px solid #777;
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 00.5s;
}

img:hover {
  transform: scale(1.1);
}
audio {
  width: 100%;
  height: 40px;
  background-color: #f66435;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
}

audio::-webkit-media-controls-panel {
  background-color: #333;
  color: #fff;
}

audio::-webkit-media-controls-play-button {
  background-color: #333;
  color: #fff;
}

audio::-webkit-media-controls-time-display {
  color: #fff;
}
